@import "../../../GlobalStyles/global.scss";

//date picker
.wrapper-date-picker {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 150px;
}

.title-date-picker {
  color: $color-black;
  margin-right: 15px;
  font-weight: $fw-600;
  font-size: $fs-19;
}

.title-date-picker.small {
  font-size: $fs-15;
}
.title-date-picker.large {
  font-size: $fs-24;
}

.title-date-picker.dark {
  color: $color-white;
}

.customDatePicker {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(8, 23, 194, 0.1);
  transition: all 0.3s ease;

  .customDatePicker.small {
    font-size: $fs-12;
  }

  .customDatePicker.large {
    font-size: $fs-20;
  }

  .customDatePicker:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }
}

.container {
  flex: 1;
  height: 900px;
  overflow: auto;
  scrollbar-width: none;
  background-color: $bg-primary;
}

.container.dark {
  background-color: $bg-black;
}

.box-chart {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  margin-left: 90px;
  margin-right: 90px;
}

.wrapper-chart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  align-items: center;
  margin-top: 20px;
}

.line {
  width: 2px;
  height: 300px;
  background-color: $bg-line-green;
}

.line-bottom {
  width: 100%;
  background-color: $bg-line-green;
  height: 1px;
  margin-bottom: 90px;
}

.end-box {
  justify-content: center;
  align-items: center;
}

.yumhub-chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  width: 100%;
  margin-bottom: 50px;
}

.yumhub-chart {
  max-width: 900px;
  width: 100%;
  height: 100%;
}
