@import "../../../GlobalStyles/global.scss";

.container-loading {
  width: 100px;
  margin-top: 200px;
  margin-left: 50%;
}

// modal
.modal-container {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: $bg-line;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  
  &.dark {
    background-color: $bg-gray-light-dark;
  }
  // logo
  .logo-merchant {
    width: 35%;
    height: 100%;
    position: relative;
    background-color: $bg-light;

    &.dark {
      background-color: $bg-gray-light;
    }
  }

  .ellipse {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
  }

  .img-merchant {
    width: 70%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  //content
  .content-modal {
    padding: 0;
    margin: 20px 20px;
    overflow: auto;
    scrollbar-width: none;
  }

  .container-content {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 20px;
  }

  .name-merchant {
    color: $color-black;
    text-align: left;
    font-size: $fs-25;
    font-weight: $fw-600;
    font-family: $ff-montserrat;
    border: none;

    &.small {
      font-size: $fs-21;
    }
    &.large {
      font-size: $fs-29;
    }
  }

  .line {
    height: 30px;
    width: 1px;
    background-color: $bg-line-main;
    margin-left: 10px;

    &.dark {
      background-color: $bg-line-green;
    }
  }

  .type-merchant {
    color: $color-green;
    font-family: $ff-montserrat;
    font-size: $fs-15;
    font-weight: $fw-400;
    margin-left: 15px;
    border: none;

    &.small {
      font-size: $fs-11;
    }
    &.large {
      font-size: $fs-19;
    }
  }

  .wrapper-content {
    display: flex;
    width: 90%;
    height: 8.1%;
    align-items: center;
    margin-top: 30px;
    padding: 0;
  }

  .title-merchant {
    align-items: center;
    padding: 0;
    width: 45%;
    height: 100%;
    color: $color-black;
    font-size: $fs-20;
    font-weight: $fw-600;
    font-family: $ff-montserrat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    display: flex;
    align-items: center;

    &.small {
      font-size: $fs-16;
    }
    &.large {
      font-size: $fs-24;
    }
  }

  .content-merchant {
    flex: 1;
    color: $color-black;
    text-align: left;
    font-size: $fs-20;
    font-weight: $fw-300;
    font-family: $ff-montserrat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;

    &.small {
      font-size: $fs-16;
    }
    &.large {
      font-size: $fs-24;
    }
  }

  .wrapper-image-content {
    width: 90%;
    align-items: left;
    margin-top: 30px;
    padding: 0;
  }

  .wrapper-document {
    display: flex;
    flex: 1;
    margin-left: 150px;
    margin-top: 20px;
    // background-color: #4bc2e6;
  }

  .image-document {
    width: 180px;
    height: 180px;
    margin-left: 20px;
  }
}

// search-input
.search-result {
  width: 1170px;
  height: 100%;
  max-height: 80vh;
  background-color: $bg-white;
  overflow: auto;
  scrollbar-width: none;

  .search-title {
    font-size: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-family: $ff-popins;
  }
}
  
.search-title.small {
  font-size: $fs-16;
}

.search-title.large {
  font-size: $fs-24;
}

.search-result.dark {
  background-color: $bg-gray-light;
}

.table {
  width: 100%;
  border-collapse: separate; /* Sử dụng 'separate' để khoảng cách giữa các ô hoạt động */
  border-spacing: 34px 29px; /* Khoảng cách dọc giữa các hàng và ngang giữa các cột */

  th {
    color: $color-title-box;
    font-family: $ff-popins;
    font-size: $fs-15;
    font-weight: $fw-500;
  }

  td {
    color: $color-content-box;
    font-family: $ff-popins;
    font-size: $fs-13;
    font-weight: $fw-400;
    border-bottom: 1px solid#c2cfe0;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    overflow: hidden; /* Ẩn nội dung tràn */
    text-overflow: ellipsis; /* Hiển thị dấu chấm lửng nếu nội dung tràn */
    white-space: nowrap; /* Ngăn nội dung xuống dòng */
    max-width: 269px; /* Thiết lập chiều rộng tối đa */
    height: 70px; /* Thiết lập chiều cao cố định */
  }
  .action-button {
    margin-right: 5px;
    border: none;
    background-color: transparent;
    color: $color-title-box;
  }
}

.table.small {
  th {
    font-size: $fs-11;
  }

  td {
    font-size: $fs-9;
  }
}

.table.large {
  th {
    font-size: $fs-19;
  }

  td {
    font-size: $fs-17;
  }
}

.table.dark {
  th {
    color: $color-white;
  }

  td {
    color: $color-white;
  }
}

.content {
  flex: 1;
  padding: 51px 94px;
  overflow: auto; /* Để có thể cuộn nếu nội dung quá dài */
}
.logo {
  width: 68px;
  height: 66px;
  border-radius: 50%;
}

.box-container {
  position: relative;
  background-color: $color-white;
  border-radius: 8px;
  padding: 20px;
  margin-top: 52px;
  overflow: auto;
  height: 500px;
  max-height: 624px;
  scrollbar-width: none;
}

.box-container.dark {
  background-color: $bg-dark;
}

.line-background {
  display: flex;
  height: 0.5px;
  background-color: $bg-line-main;
  margin-top: 35px;
}

.title {
  color: $color-title;
  font-family: $ff-popins;
  font-size: $fs-36;
  font-weight: $fw-600;
  margin-bottom: 26px;
}

.title.dark {
  color: $color-white;
}

.title.small {
  font-size: $fs-32;
}

.title.large {
  font-size: $fs-40;
}

.inputSearch {
  flex: 1;
  display: flex;
  height: 60px;
  background-color: #fff;
  align-items: center;
}

.inputSearch {
  width: 1170px;
  display: flex;
  height: 60px;
  background-color: $bg-white;
  align-items: center;
}

.inputSearch.dark {
  background-color: $bg-gray-light;
}

.icon-search {
  color: #c2cfe0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 20px 36px;
}

.input {
  margin: 0;
  flex-grow: 1;
  color: $color-title-box;
  font-family: $ff-popins;
  border: none;
  outline: none; // bỏ mặc định

  &:focus {
    border: none;
    outline: none;
  }
}

.input.dark {
  color: $color-title-box;
  background-color: $bg-gray-light;
  font-family: $ff-popins;
}

.content {
  flex: 1;
  height: 800px;
  padding: 51px 94px;
  overflow: auto; /* Để có thể cuộn nếu nội dung quá dài */
}

.container {
  background-color: $bg-primary;
}

.container.dark {
  background-color: $bg-black;
}
.btn-Reactive{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
