@import "../../../GlobalStyles/global.scss";

// search-input
.search-result {
  width: 1170px;
  height: 100%;
  max-height: 80vh;
  background-color: $bg-white;
  overflow: auto;
  scrollbar-width: none;

  .search-title {
    font-size: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-family: $ff-popins;
  }
  .search-title.small {
    font-size: $fs-16;
  }

  .search-title.large {
    font-size: $fs-24;
  }
}

.search-result.dark {
  background-color: $bg-gray-light;
}

// modal
.modal-container {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: $bg-line;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  &.dark {
    background-color: $bg-gray-light-dark;
  }
  //loading
  .wrapper-loading {
    flex: 1;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
  }

  .text-loading {
    color: $color-loading;
    font-size: 15px;
    font-family: $ff-montserrat;
    margin-right: 30px;
  }

  // logo
  .logo-merchant {
    width: 35%;
    height: 100%;
    background-color: $bg-light;
    position: relative;

    &.dark {
      background-color: $bg-gray-light;
    }
  }

  .ellipse {
    height: 216px;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
  }

  .img-merchant {
    width: 70%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//content modal
.content-modal {
  flex: 1;
  padding: 0;
  margin: 20px 20px;
  scrollbar-width: none;
  overflow: auto;

  .line {
    height: 30px;
    width: 1px;
    background-color: $bg-line-main;
    margin-left: 10px;

    &.dark {
      background-color: $bg-line-green;
    }
  }
}

.container-content {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 20px;
}

.name-merchant {
  color: $color-black;
  text-align: left;
  font-size: $fs-25;
  font-weight: $fw-600;
  font-family: $ff-montserrat;
  border: none;

  &.small {
    font-size: $fs-21;
  }
  &.large {
    font-size: $fs-29;
  }
}

.type-merchant {
  color: $color-green;
  font-family: $ff-montserrat;
  font-size: $fs-15;
  font-weight: $fw-400;
  margin-left: 15px;
  border: none;
}

.wrapper-content {
  display: flex;
  width: 90%;
  height: 8.1%;
  align-items: center;
  margin-top: 30px;
  padding: 0;
}

.title-merchant {
  align-items: center;
  padding: 0;
  width: 35%;
  height: 100%;
  color: $color-black;
  font-size: $fs-20;
  font-weight: $fw-600;
  font-family: $ff-montserrat;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
  display: flex;
  align-items: center;

  &.small {
    font-size: $fs-16;
  }
  &.large {
    font-size: $fs-24;
  }
}

.content-merchant {
  flex: 1;
  color: $color-black;
  text-align: left;
  font-size: $fs-20;
  font-weight: $fw-400;
  font-family: $ff-montserrat;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;

  &.small {
    font-size: $fs-16;
  }
  &.large {
    font-size: $fs-24;
  }
}

.wrapper-document {
  display: flex;
  flex: 1;
  margin-left: 30px;
  margin-top: 20px;
  // background-color: #4bc2e6;
}

.text-overAll-id-card {
  color: $color-black;
  margin-top: 20px;
  margin-left: 50px;
  width: 200px;
  font-size: $fs-18;
  font-family: $ff-montserrat;
}

.btn-delete {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.wrapper-image-content {
  width: 90%;
  align-items: left;
  margin-top: 30px;
  padding: 0;
}

.wrapper-title-document {
  display: flex;
  justify-content: space-between;
}

.btn-check {
  display: flex;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: $ff-montserrat;
  background-color: $bg-check;
}

.text-check {
  color: #fff;
}

.image-document {
  width: 120px;
  height: 180px;
  margin-left: 20px;
}

.image-id-card-document {
  width: 200px;
  height: 150px;
  margin-left: 20px;
}

.line-background {
  display: flex;
  height: 0.5px;
  background-color: $bg-line-main;
  margin-top: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột */
  column-gap: 40px; /* Khoảng cách giữa các cột */
  row-gap: 24px; /* Khoảng cách giữa các hàng */
  margin-top: 35px;
}

.btn-detail {
  display: flex;
  font-family: $ff-popins;
  width: 80px;
  height: 24px;
  align-items: center;
  margin-top: 40px;
  margin-left: 125px;
}

.textContent {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: $fs-11;
  font-weight: $fw-700;
  margin-left: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textContent.small {
  font-size: $fs-7;
}

.textContent.large {
  font-size: $fs-15;
}

.textContent.dark {
  color: $color-white;
}

.icon {
  margin-bottom: 0;
}

.icon.dark {
  color: $color-gray;
}

.icon.small {
  width: 16px;
  height: 16px;
  margin-bottom: 0;
}

.icon.large {
  width: 24px;
  height: 24px;
  margin-bottom: 0;
}

.item {
  display: flex;
  align-items: center;
  height: 30px;
  // background-color: aquamarine;
  margin-bottom: 2px;
}

.contentBox {
  margin-left: 15px;
  margin-top: 8.5px;
}

.type {
  color: $color-gray;
  font-family: $ff-montserrat;
  font-size: $fs-10;
  font-weight: $fw-700;
  margin-top: 9px;
  height: 20px;
}

.type.small {
  font-size: $fs-6;
}

.type.large {
  font-size: $fs-14;
}

.nameMerchant {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: $fs-16;
  font-weight: $fw-700;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  margin: 0;
}

.nameMerchant.small {
  font-size: $fs-12;
}

.nameMerchant.large {
  font-size: $fs-20;
}

.nameMerchant.dark {
  color: $color-danger;
}

.textTitle {
  margin-top: 16px;
  width: 55%;
  padding-left: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-bottom {
  height: 2px;
  width: 100%;
  background-color: $bg-line;
}

.line-bottom.dark {
  background-color: $bg-line;
}

.line {
  width: 2px;
  height: 70px;
  background-color: $bg-line;
  margin-left: 20px;
  margin: 0 0 2px 5px;
}

.logo {
  width: 68px;
  height: 100%;
}

.titleBox {
  display: flex;
  height: 66px;
  width: 100%;
}

.box {
  width: 227px;
  height: 216px;
  border-radius: 6px;
  background-color: $bg-white;
}

.box.dark {
  background-color: $bg-dark;
}

.image-food {
  width: 60%;
  height: 80%;
}

.content {
  flex: 1;
  height: 800px;
  padding: 51px 94px;
  overflow: auto; /* Để có thể cuộn nếu nội dung quá dài */
  scrollbar-width: none;
}

.title {
  color: $color-title;
  font-family: $ff-popins;
  font-size: $fs-36;
  font-weight: $fw-600;
  margin-bottom: 26px;
}

.title.dark {
  color: $color-white;
}

.title.small {
  font-size: $fs-32;
}

.title.large {
  font-size: $fs-40;
}

.inputSearch {
  display: flex;
  width: 1170px;
  height: 60px;
  background-color: $color-white;
  align-items: center;
  justify-content: center;
}

.inputSearch.dark {
  background-color: $bg-gray-light;
}

.icon-search {
  color: $color-title-box;
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 20px 36px;
}

.input {
  margin: 0;
  flex-grow: 1;
  color: $color-search;
  font-family: $ff-popins;
  border: none;
  outline: none; // bỏ mặc định

  &:focus {
    border: none;
    outline: none;
  }
}

.input.dark {
  background-color: $bg-gray-light;
  color: $color-white;
}

.container {
  background-color: $bg-primary;
}

.container.dark {
  background-color: $bg-black;
}
