@import "../../../GlobalStyles/global.scss";

.container-loading {
  width: 100px;
  margin-top: 200px;
  margin-left: 50%;
}

// search-input
.search-result {
  width: 1170px;
  height: 100%;
  max-height: 80vh;
  background-color: $bg-white;
  overflow: auto;
  scrollbar-width: none;

  .search-title {
    font-size: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-family: $ff-popins;
  }
  .search-title.small {
    font-size: $fs-16;
  }

  .search-title.large {
    font-size: $fs-24;
  }
}

.search-result.dark {
  background-color: $bg-gray-light;
}

.line-background {
  display: flex;
  height: 0.5px;
  background-color: $bg-line-main;
  margin-top: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 cột */
  column-gap: 40px; /* Khoảng cách giữa các cột */
  row-gap: 24px; /* Khoảng cách giữa các hàng */
  margin-top: 35px;
}

.btn-detail {
  display: flex;
  font-family: $ff-popins;
  width: 90px;
  height: 30px;
  align-items: center;
  margin-left: 195px;
}

.textContent {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: $fs-11;
  font-weight: $fw-700;
  margin-left: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textContent.small {
  font-size: $fs-7;
}

.textContent.large {
  font-size: $fs-15;
}

.textContent.dark {
  color: $color-white;
}

.icon {
  width: 16px;
  height: 16px;
  margin-bottom: 0;
}

.icon.dark {
  color: $color-gray;
}

.icon.small {
  width: 16px;
  height: 16px;
  margin-bottom: 0;
}

.icon.large {
  width: 24px;
  height: 24px;
  margin-bottom: 0;
}

.item {
  display: flex;
  align-items: center;
  height: 30px;
  //   background-color: aquamarine;
  margin-bottom: 2px;
}

.contentBox {
  margin-left: 15px;
  margin-top: 8.5px;
}

.type {
  color: $color-gray;
  font-family: $ff-montserrat;
  font-size: $fs-10;
  font-weight: $fw-700;
  margin-top: 9px;
  height: 20px;
}

.type.small {
  font-size: $fs-6;
}

.type.large {
  font-size: $fs-14;
}

.nameMerchant {
  color: $color-primary;
  font-family: $ff-montserrat;
  font-size: $fs-16;
  font-weight: $fw-700;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  margin: 0;
}

.nameMerchant.small {
  font-size: $fs-12;
}

.nameMerchant.large {
  font-size: $fs-20;
}

.nameMerchant.dark {
  color: $color-danger;
}

.textTitle {
  margin-top: 16px;
  width: 55%;
  padding-left: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-bottom {
  height: 2px;
  width: 100%;
  background-color: $bg-line;
}

.line-bottom.dark {
  background-color: $bg-line;
}

.line {
  width: 2px;
  height: 70px;
  background-color: $bg-line;
  margin-left: 20px;
  margin: 0 0 2px 5px;
}

.logo {
  width: 68px;
  height: 100%;
}

.titleBox {
  display: flex;
  height: 66px;
  width: 100%;
}

.box {
  width: 327px;
  height: 240px;
  border-radius: 6px;
  background-color: $bg-white;
}

.box.dark {
  background-color: $bg-dark;
}

.image-food {
  width: 60%;
  height: 80%;
}

.content {
  flex: 1;
  height: 800px;
  padding: 51px 94px;
  overflow: auto; /* Để có thể cuộn nếu nội dung quá dài */
  scrollbar-width: none;
}

.title {
  color: $color-title;
  font-family: $ff-popins;
  font-size: $fs-36;
  font-weight: $fw-600;
  margin-bottom: 26px;
}

.title.dark {
  color: $color-white;
}

.title.small {
  font-size: $fs-32;
}

.title.large {
  font-size: $fs-40;
}

.inputSearch {
  display: flex;
  width: 1170px;
  height: 60px;
  background-color: $color-white;
  align-items: center;
  justify-content: center;
}

.inputSearch.dark {
  background-color: $bg-gray-light;
}

.icon-search {
  color: $color-title-box;
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 20px 36px;
}

.input {
  margin: 0;
  flex-grow: 1;
  color: $color-search;
  font-family: $ff-popins;
  border: none;
  outline: none; // bỏ mặc định

  &:focus {
    border: none;
    outline: none;
  }
}

.input.dark {
  background-color: $bg-gray-light;
  color: $color-white;
}

.container {
  background-color: $bg-primary;
}

.container.dark {
  background-color: $bg-black;
}
