@import "../../../GlobalStyles/global.scss";

.text-menu-container {
  display: flex;
  width: 200px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.text-menu-container .icon-menu {
  width: 24px;
  height: 24px;

  &.small {
    width: 20px;
    height: 20px;
  }
  &.large {
    width: 28px;
    height: 28px;
  }
}

.wrapper-title-menu {
  width: 170px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  justify-content: space-between;
}

.wrapper-title-menu .title-manager {
  margin-left: 26px;
  font-size: $fs-20;

  &.small {
    font-size: $fs-16;
  }
  &.large {
    font-size: $fs-24;
  }
}

.text-menu .title-manager.dark {
  &.dark {
    color: $color-white;
  }
}

.text-menu .icon-menu.dark {
  &.dark {
    color: $color-white;
  }
}

.text-menu-container.active p.title-manager {
  color: $color-title-header-dark;
}

.angle-icon.rotate {
  transform: rotate(270deg); /* Hiệu ứng xoay icon khi menu được chọn */
}

.text-menu {
  width: 170px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-title;

  &.dark {
    color: $color-white;
  }
}

.text-menu.rotate {
  color: $color-title-header-dark;
}

.text-menu .title-manager.rotate {
  color: $color-title-header-dark;
}

.text-menu .title-manager {
  width: 170px;
  margin-left: 26px;
}

.text-menu .icon-menu {
  width: 24px;
  height: 24px;

  &.small {
    width: 20px;
    height: 20px;
  }
  &.large {
    width: 28px;
    height: 28px;
  }
}



.title-manager.rotate.dark {
  color: $bg-white;

  &.rotate {
    color: $color-title-header-dark;
  }
}

//sub-menu
.sub-menu li a {
  color: $color-title;
  text-decoration: none;
  font-size: $fs-16;
  font-weight: 400;
  padding: 10px 0;
  font-family: $ff-popins;

  &.small {
    font-size: $fs-12;
  }
  &.large {
    font-size: $fs-20;
  }

  &.dark {
    color: $color-white;
  }
}

.sub-menu li {
  margin-left: 50px;
  margin-top: 10px;
}

.sub-menu li a.active-link {
  color: $color-title-header;
}

.wrapper-item {
  display: flex;
  align-items: center;
  transition: 0.3s;
  padding: 15px 25px 15px 30px;
  font-size: $fs-20;
  font-weight: $fw-400;
  color: $color-title;
  font-family: $ff-popins;
  text-decoration: none;

  &.small {
    font-size: $fs-16;
  }
  &.large {
    font-size: $fs-24;
  }
  &.dark {
    color: $color-white;
  }
}

ul,
ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.title {
  font-size: $fs-20;
  font-weight: $fw-700;
  color: $color-title-header;
  font-family: $ff-popins;
  padding: 15px 25px 5px 30px;
  display: block;
  margin: 0;

  &.small {
    font-size: $fs-16;
    font-weight: $fw-700;
  }

  &.large {
    font-size: $fs-24;
    font-weight: $fw-700;
  }

  &.dark {
    color: $color-title-header-dark;
  }
}

.logo_yumhub {
  display: flex;
  margin: 30px;
  background: $bg-white;
  padding: 33px 30px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;

  &.dark {
    background-color: $bg-black;
  }
}

.logo {
  width: 90px;
  height: 90px;
}

.text-logo {
  color: $color-title-box;
  font-size: $fs-20;
  font-weight: 700;
  font-family: $ff-popins;

  &.small {
    font-size: $fs-16;
    font-weight: $fw-700;
  }

  &.large {
    font-size: $fs-24;
    font-weight: $fw-700;
  }

  &.dark {
    color: $color-white;
  }
}

.container {
  height: 902px;
  width: 280px;
  box-shadow: 0 0 40px #d0d9f3;
  scrollbar-width: none;
  overflow: auto;
  background-color: $bg-white;
}

.container.dark {
  background-color: $bg-black;
  box-shadow: 0 0 40px $bg-sidebar-dark;
}
