@import "../../../GlobalStyles/global.scss";

//modal change-password
.modal {
  display: flex;
  background-color: #023434;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  .wrapper-box-change-password {
    flex: 1;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-primary;
    justify-content: center;
    border-radius: 8px;
  }

  .title-change-password {
    display: flex;
    font-size: 24px;
    font-weight: $fw-600;
    font-family: $ff-popins;
    color: $color-title;
    justify-content: center;
    align-items: center;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: $bg-line-main;
    margin-bottom: 20px;
  }

  .wrapper-password {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
    // background-color: #0072b2;
  }

  .text-password {
    font-family: $ff-popins;
    color: $color-title;
    white-space: nowrap;
    width: 45%;
  }

  .input {
    flex: 1;
    width: 70px;
    padding: 10px;
    background-color: $bg-white;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  .icon {
    margin-top: -10px;
    position: absolute;
    right: 10px;
    color: $bg-line-main;
    cursor: pointer;
  }

  .btn-set-password {
    display: flex;
    width: 80%;
    height: 50px;
    margin-top: 10px;
  }

  .btn {
    flex: 1;
    background-color: $bg-sky-blue;
    display: flex;
    color: $color-white;
    font-weight: $fw-400;
    color: $color-white;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $bg-header;
      border: none;
    }
  }
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 400px;
  margin-left: 1100px;
  // background-color: #606088;

  .item-menu {
    font-size: $fs-20;
    font-weight: $fw-400;
    text-decoration: none;
    font-family: $ff-popins;
    color: $color-white;
  }
  .item-menu:hover {
    color: $color-gray;
  }
}

.item-menu.small {
  font-size: $fs-16;
  font-weight: $fw-400;
}

.item-menu.large {
  font-size: $fs-24;
  font-weight: $fw-400;
}

.item-profile {
  position: relative;
  font-size: $fs-20;
  font-weight: $fw-400;
  text-decoration: none;
  font-family: $ff-popins;
  color: $color-white;
  cursor: pointer;
}

.item-profile.small {
  font-size: $fs-16;
  font-weight: $fw-400;
}

.item-profile.large {
  font-size: $fs-24;
  font-weight: $fw-400;
}

.item-profile:hover {
  color: $color-gray;
}

.sub-item {
  position: absolute;
  margin-top: 30px;
  margin-left: -145px;
  width: 250px;
  background-color: $bg-header;
  padding: 0;
}

.sub-item.dark {
  transform: 3s;
  background: $bg-header-dark;
  transition-delay: 0.3s;
}

.sub-item.dark li:hover {
  background-color: $bg-hover-header-dark;
  cursor: pointer;
}

.sub-item li:hover {
  background-color: $bg-hover-header;
  cursor: pointer;
}

.sub-item li {
  display: flex;
  align-items: center;
  font-size: $fs-18;
  font-weight: $fw-400;
  font-family: $ff-popins;
  color:  $color-white;
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  box-sizing: border-box;

  &.small {
    font-size: $fs-14;
    font-weight: $fw-400;
  }

  &.large {
    font-size: $fs-22;
    font-weight: $fw-400;
  }
}

.logo {
  width: 56px;
  height: 56px;
}

.container {
  display: flex;
  align-items: center;
  height: 92px;
  background: $bg-header;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  padding: 0 20px;
  transition: background 0.3s ease 0.3s;
}

.container.dark {
  transform: 3s;
  background: $bg-header-dark;
  transition-delay: 0.3s;
}
