@import "../../../../GlobalStyles/global.scss";

.container {
  flex: 1;
  height: 800px;
  padding: 51px 94px;
  overflow: auto;
  scrollbar-width: none;
  background-color: $bg-primary;
  transition: background-color 0.3s, color 0.3s;
}

.container.dark {
  background-color: $bg-dark;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;  
}

.wrapper-language {
  display: flex;
  align-items: center;
}

.title-language {
  margin-right: 20px;
}

.wrapper-dark-mode {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.title-dark-mode {
  margin-right: 20px;
}

.wrapper-font-size {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.title-font-size {
  color: #333;
  margin-right: 20px;
}

.wrapper-button-font-size {
  display: flex;
  gap: 10px;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #007bff;
  color: #fff;
  margin-left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #0056b3;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
