// colors
$color-primary: #6d76a4;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #c4c4c7;
$color-title: #6b6b6b;
$color-loading: #4bc2e6;
$color-green: #50cc98;
$color-danger: #fc424a;
$color-search: #90a0b7;
$color-title-box: #90a0b7;
$color-content-box: #323c47;
$color-title-green: #03de287d;
$color-title-green-dark: #00ff407d;
$color-green: #15cf74;
$color-title-header: #2daab8;
$color-title-header-dark:#3dd8e9;

// background
$bg-white: #fff;
$bg-line: #f0f5fa;
$bg-reviewed: #2bf186;
$bg-awaiting: #f12b2c;
$bg-detail: #19d6e5;
$bg-approval: #6c7afc;
$bg-modal: #caf1f1;
$bg-line-main: #939292;
$bg-line-green: aquamarine;
$bg-check: #4bc2e6;
$bg-dark: #191c24;
$bg-light: #E3E5FA;
$bg-hover-search: #f9dada;
$bg-black: #0d0d0d;
$bg-gray-light: #6c757d;
$bg-gray-light-dark: #828d96;
$bg-blue: #3085d6;
$bg-primary: #f0f2f5;
$bg-box-info: #c6c8ca;
$bg-sky-blue: #4bc2e6;
$bg-header: #2daab8;
$bg-header-dark: #22383b;
$bg-sidebar-dark: #22383b;
$bg-hover-header: #01626d;
$bg-hover-header-dark: #314042;


// font-size
$fs-5: 5px;
$fs-6: 6px;
$fs-7: 7px;
$fs-8: 8px;
$fs-9: 9px;
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;
$fs-20: 20px;
$fs-21: 21px;
$fs-22: 22px;
$fs-24: 24px;
$fs-25: 25px;
$fs-26: 26px;
$fs-28: 28px;
$fs-29: 29px;
$fs-30: 30px;
$fs-32: 32px;
$fs-34: 34px;
$fs-35: 35px;
$fs-36: 36px;
$fs-40: 40px;
$fs-52: 52px;
$fs-64: 64px;

// font-weight
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;

// font-family
$ff-montserrat: "Montserrat Alternates", "sans-serif";
$ff-popins: "Poppins", sans-serif;
